version: "3.8"

services:
  app:
    container_name: spring-boot-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - db
    restart: unless-stopped

  db:
    container_name: postgres-spring-boot
    image: postgres:15
    environment:
      POSTGRES_USER: joaquincar
      POSTGRES_PASSWORD: kino1006
      POSTGRES_DB: spring_db
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5433:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge

volumes:
  db: